@media screen and (max-width: 1920px) {
    .navbar {
        width: 1515px;
      }
    
      .navbar-brand {
        margin-left: 140px;
      }
    
      .button-insc {
        height: 45px;
        width: 150px;
      }
    
      .button-con {
        padding-left: 20px;
        padding-right: 150px;
      }
    
      .nav-item {
        padding-right: 100px;
      }
    
      .nav-link {
        font-size: 20px;
      }
    
      .slider {
        width: 1515px;
        height: 400px;
      }

      .theme {
        font-size: 28px;
        text-align: center;
      }

      .activi {
        font-size: 28px;
        padding-left: 540px;
      }

      .my-2 {
        width: 15rem;
        text-align: center;
        font-size: 25px;
      }

      .img-cul {
        height: 137px;
      }

      .img-cul1 {
        height: 137px;
      }

      .footer1 {
        padding-left: 550px;
        padding-top: 20px;
      }

      .footer2 {
        padding-left: 600px;
      }
      
      .footer-l {
        width: 1515px;
        border: solid;
      }

      .title-actu {
        font-size: 28px;
        text-align: center;
        text-decoration: underline;
      }

      .img-actu {
        width: 1515px;
        height: 400px;
      }

      .table1 {
        width: 490px;
        padding-left: 10px;
      }

      .table3 {
        width: 490px;
        padding-right: 10px;
      }

      .table2 {
        width: 490px;
        padding-left: 10px;
      }

      .table4 {
        width: 490px;
        padding-right: 10px;
      }

      .astro-img {
        width: 1515px;
        height: 400px;
      }

      .num-img {
        width: 1515px;
        height: 400px;
      }

      .tar-img {
        width: 1515px;
        height: 400px;
      }

      .cul-img {
        width: 1515px;
        height: 400px;
      }

      .for-img {
        width: 1515px;
        height: 400px;
      }

      .bib-img {
        width: 300px;
        height: 200px;
      }

      .formation {
        background-image: url(/public/img-theme/prague.jpg);
        background-size: contain;
      }

      .vertical-line{
        border-left: 2px solid #b79e56;
        display: inline-block;
        height: 50px;
        margin: 0 80px;
      }

      .vertical-line2{
        border-left: 2px solid #b79e56;
        display: inline-block;
        height: 18px;
        margin: 1px 1px 1px 22px;
      }

      .first-letter::first-letter {
        font-size: 1.5em;
        color: rgb(33, 117, 117);
      }

      .float-end {
        position: absolute;
        right: 32px;
        top: 5056px;
        width: 730px;
        height: 409px;
      }

      .card-float {
        width: 46rem;
      }

      .card-down-float {
        width: 62rem;
        position: sticky;
        left: 260px;
      }

      .actu-img-1 {
        height: 400px;
        width: 1515px;
      }

      .img-sig-astro {
        width: 472px;
        height: 45px;
      }

      .form-met-card {
        width: 30rem;
        right: -99px;
        background-color: #f9f9f9;
      }

      .rounded.float-start {
        width: 597px;
        height: 597px;
      }

      .form-ref-img {
        position: absolute;
        right: 0px;
        top: 4420px;
        width: 750px;
        height: 600px;
      }

      .form-chir-img {
        width: 200px;
        height: 500px;
      }


}


@media screen and (max-width: 1280px) {
  .navbar {
    width: 1263px;
  }

  .navbar-brand {
    margin-left: 70px;
  }

  .button-insc {
    height: 40px;
    width: 130px;
  }

  .button-con {
    padding-left: 20px;
    padding-right: 40px;
  }

  .nav-item {
    padding-right: 70px;
  }

  .nav-link {
    font-size: 20px;
  }

  .slider {
    width: 1263px;
    height: 500px;
  }

  .theme {
    font-size: 28px;
    text-align: center;
  }

  .activi {
    font-size: 28px;
    padding-left: 447px;
  }

  .my-2 {
    width: 15rem;
    text-align: center;
    font-size: 20px;
  }

  .img-cul {
    width: 206px;
    height: 137px;
  }

  .img-cul1 {
    width: 206px;
    height: 137px;
  }

  .footer1 {
    padding-left: 445px;
    padding-top: 20px;
  }

  .footer2 {
    padding-left: 490px;
  }

  .title-actu {
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
  }

  .img-actu {
    width: 1263px;
    height: 500px;
  }

  .table1 {
    width: 540px;
    padding-left: 50px;
  }

  .table3 {
    width: 540px;
    padding-right: 50px;
  }

  .table2 {
    width: 540px;
    padding-left: 50px;
  }

  .table4 {
    width: 540px;
    padding-right: 50px;
  }

  .astro-img {
    width: 1263px;
    height: 500px;
  }

  .num-img {
    width: 1263px;
    height: 500px;
  }

  .tar-img {
    width: 1263px;
    height: 500px;
  }

  .cul-img {
    width: 1263px;
    height: 500px;
  }

  .for-img {
    width: 1263px;
    height: 500px;
  }

  .formation {
    background-image: url(/public/img-theme/prague.jpg);
    background-size: contain;
  }

  .vertical-line{
    border-left: 2px solid #b79e56;
    display: inline-block;
    height: 50px;
    margin: 0 80px;
  }

  .first-letter::first-letter {
    font-size: 1.5em;
    color: rgb(33, 117, 117);
  }

  .float-end {
    position: absolute;
    right: 22px;
    top: 5616px;
    width: 612px;
    height: 487px;
  }

  .card-float {
    width: 38rem;
  }

  .card-down-float {
    width: 62rem;
    position: sticky;
    left: 60px;
  }

  .actu-img-1 {
    height: 500px;
    width: 1263px;
  }

  .img-sig-astro {
    width: 387px;
    height: 45px;
  }

  .form-met-card {
    width: 30rem;
    right: -45px;
    background-color: #f9f9f9;
  }

  .rounded.float-start {
    width: 350px;
    height: 597px;
  }

  .form-ref-img {
    position: absolute;
    right: 0px;
    top: 4520px;
    width: 540px;
    height: 570px;
  }

}
